ul {
    list-style-type: none;
    padding: 0;
}

.noCourses {
    text-align: center;
    height: 20px;
    width: 100%;
    background-color: #FFF;
    border: 1px solid gray;
    margin-bottom: 20px;
}