<ul class="coursesList">
    <div class="noCourses" *ngIf="listOfCourses.length === 0">No data feel free to enter new course</div>
    <div *ngIf="listOfCourses">
        <li *ngFor="let item of listOfCourses">
            <app-course-item [id]="item.id" [title]="item.name" [description]="item.description"
                [duration]="item.length" [topRated]="item.isTopRated" [creationDate]="item.date"
                (deletedItemId)="onDeleteCourse($event)">
            </app-course-item>
        </li>
    </div>
    <app-modal-delete *ngIf="showModal" [nameCourse]="titleForDelete" (closed)="onCloseModal()"
        (canceled)="onCancelModal()">
    </app-modal-delete>
    <app-button [label]="'Load more'" (clicked)="onClickLoadMore()" [buttonClass]="'loadMoreButton'"></app-button>
</ul>