<ul class="coursesList">
    <div class="noCourses" *ngIf="courses.length === 0">No data feel free to enter new course</div>
    <li *ngFor="let item of courses; trackBy: trackByFn">
        <app-course-item [id]="item.id" [title]="item.title" [description]="item.description" [duration]="item.duration"
            [creationDate]="item.creationDate" (deletedItemId)="onDeleteCourse($event)">
        </app-course-item>
    </li>
    <app-button [label]="'Load more'" (clicked)="onClickLoadMore()" [buttonClass]="'loadMoreButton'"></app-button>
</ul>