<div [appHighlightCreationDate]="creationDate" class="courseItemContainer"
    [ngClass]="{'courseItemContainerFavoriteBackground': topRated}">
    <div class="courseItemUpperBlock">
        <div class="courseItemTitleBlock">
            <div class="courseItemTitle">{{title | uppercase }} </div>
            <div *ngIf="topRated" class="courseItemStar">&#9733;</div>
        </div>
        <p class="courseItemDuration">{{duration | durationPipe}}</p>
        <p class="courseItemCreationDate">{{creationDate | date: 'mediumDate'}}</p>
    </div>
    <div class="courseItemLowerBlock">
        <p class="courseItemDescription">{{description}}</p>
        <app-button label="Edit" (clicked)="onEditClicked()"></app-button>
        <app-button class="buttonDelete" label="Delete" (clicked)="onDeletedCilck()"></app-button>
    </div>
</div>