.courseItemContainer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    min-height: 100px;
    border: 2px solid grey;
}

.courseItemContainerFavoriteBackground {
    background-color: rgb(207, 232, 240);
}

.courseItemUpperBlock {
    display: flex;
    align-items: center;
}

.courseItemTitleBlock {
    display: flex;
    justify-content: left;
    width: 700px;
    /* margin-right: 500px; */
}

.courseItemTitle {
    margin-right: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}

.courseItemStar {
    color: orange;
}

.courseItemDuration {
    margin-right: 50px;
}

.courseItemLowerBlock {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
}

button {
    width: 100px;
    height: 34px;
    color: #FFF;
    background-color:deepskyblue;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}