::slotted(h3)  {
    margin-top: 0;
    margin-bottom: 20px;
}
  
::slotted(form) {
    display: flex;
    flex-direction: column;
}

::slotted(.form-group) {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}