<!-- <div class="modal-overlay" (click)="onCancel()"></div> -->
<div class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Delete course?</h3>
      </div>
      <hr>
      <div class="modal-body">
        <h4>Are you sure you want to delete</h4>
        <h4>{{nameCourse}}?</h4>
      </div>
      <hr>
      <div class="modal-footer">
        <button (click)="onCancel()">Cancel</button>
        <button class="deleteButton" (click)="onClose()">Yes, delete</button>
      </div>
    </div>
  </div>
